:host {
  display: block;
}

* {
overflow-wrap:hyphenate.
}

h1 {
  width: 800px
  position: relative;
  letter-spacing: -1px;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
}
.info {
	display: table;
	margin: 0 auto;
	-moz-box-shadow: 0 0 30px 5px #999;
	-webkit-box-shadow: 0 0 30px 5px #999;
  word-break: break-all;
}

p {
    hyphens:auto;
    text-align:justify;
    -webkit-hyphens:auto;
    -webkit-hyphenate-character:"\2010";
    -webkit-hyphenate-limit-after:1;
    -webkit-hyphenate-limit-before:3;
    -moz-hyphens:auto;
}
